{% extends 'base.html.twig' %}

{% block title %}Hello SpecialtyController!{% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}

    <div class="table-responsive my-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for fieldName in fieldNames %}
                        <th>{{ fieldName | trans }}</th>
                    {% endfor %}
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        {% for fieldName in fieldNames %}
                            <td>{{ attribute(item, fieldName) }}</td>
                        {% endfor %}
                        <td>
                            <button class="btn btn-danger">
                                Excluir
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
