{% extends 'base.html.twig' %}

{% block title %}Hello SpecialtyController!{% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}
    <div id="table-list">
        {% autoescape 'html' %}
            {{ table | raw }}
        {% endautoescape %}
    </div>
</div>
{% endblock %}
